[Unit]
	Description=Flower Service
	After=network.target

[Service]
	Type=simple
	Restart=on-failure
	User={{ flower_user }}
	Group={{ flower_group }}
	PermissionsStartOnly=true

    {% if flower_env --%}
    Environment={% for key in env -%}'{{key}}={{env[key]}}' {% endfor -%}
    {% endif --%}

    {% if flower_env_file --%}
    EnvironmentFile={{ flower_env_file }}
    {% endif --%}

    {% for line in flower_pre_exec -%}
    ExecStartPre={{ line }}
    {% endfor -%}

	ExecStart={{ flower_bin }} --unix_socket="{{ flower_run_dir }}/{{ flower_app_name }}-flower.sock" --log_file_prefix="{{ flower_log_dir }}" --logging="{{ flower_log_level }}" --port="{{ flower_port }}" --address="{{ flower_host }}" {% if flower_url_prefix_enabled -%} --url_prefix="{{ flower_url_prefix }}" {% endif -%} {% if flower_basic_auth_enabled -%} --basic_auth="{{ flower_basic_auth }}" {% endif -%}
	ExecReload?=/bin/kill -s HUP $MAINPID

[Install]
	WantedBy=multi-user.target
